<!DOCTYPE html>


<html>
<head>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}">
 <title>Contact</title>
<style>


table, td, th {
    border: 1px solid #00ff00;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}

 body{background-color:black;color: #00ff00;}
</style>
</head>
<body>

<ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
           <li><a href="/about">About</a></li>
           <li style="float:right"><a href="/search">Search</a></li>
</ul>
 <h1 align="center">Contact Information</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>

  <tr>
    <td>Justin</td>
    <td>Murphy</td>
    <td>jemurphy@vcu.edu</td>
    <td>703-798-4820</td>
  </tr>

 <tr>
    <td>John</td>
    <td>Taylor</td>
    <td>taylorjr7@mymail.vcu.edu</td>
    <td>804-852-1435</td>
  </tr>

    <tr>
    <td>Nicholas</td>
    <td>Harrison</td>
    <td>harrisonnc@mymail.vcu.edu</td>
    <td>804-852-7094</td>
  </tr>

</table>

</body>
</html>


