<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <style>
     body{background-color:black;color: #ffb618;}
        </style>
    <title>Sample</title>
</head>
<body>
<ul>
          <li><a href="/">Home</a></li>
          <li><a class="active"  href="/sample">Sample</a></li>
          <li><a href="/contact">Contact</a></li>
           <li><a href="/about">About</a></li>
           <form style="margin-top:12px; float:right;" action="/search" method="POST">
                <input type="text" name="text">
                <input type="submit" name="my-form" value="Search">
            </form>
</ul>
 <h1 align="center">First 100 Login Attempts</h1>
    {{ sample | safe }}
</body>
</html>